Skip to content
 
Search Gists
Search...
All gists
Back to GitHub
@mikecolbert
mikecolbert/gist:ddb49d5c937efbfb344fe51dc4a49965
Last active 3 years ago • Report abuse
Code
Revisions
2
Clone this repository at &lt;script src=&quot;https://gist.github.com/mikecolbert/ddb49d5c937efbfb344fe51dc4a49965.js&quot;&gt;&lt;/script&gt;
<script src="https://gist.github.com/mikecolbert/ddb49d5c937efbfb344fe51dc4a49965.js"></script>
.gitignore file
gistfile1.txt
# hidden Mac file of cached metadata when Finder is used to browse folders
.DS_Store


#VS Code workspace file
.VSCode


#Python dotenv file
.env

#Python virtual environment
venv/

#Python
__pycache__/
*.py[cod]
*$py.class


#R
.Rproj.user
.Rdata
.Rhistory


#environment file for AWS Beanstalk
.ebextensions/environment_variables.config
@tommyjaeger11
Comment
 
Leave a comment
 
Footer
© 2025 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact
Manage cookies
Do not share my personal information
